<a href="/hotel/{{_id}}/details" class="added-hotel">
  <img src="{{imageUrl}}" alt="hotel" class="picture-added-hotel"  width="200px" height="200px"/>
  <h3>{{name}}</h3>
  <span>Free rooms: {{rooms}}</span>
</a>